* {
    font-family: "Lucida Console", monospace;
}

body {
    text-align: center;
    color: white;
    height: 100vh;
    background: linear-gradient(90deg,#02AABD, #00CDAC);
}

.display-1 {
    margin-top: 150px;
    margin-bottom: 80px;
    font-weight: bold;
}

.card {
    display: none;
    border-radius: 20px;
    overflow: hidden;
    border: none;
}

.card-footer {
    background-color: #1B1B1E;
    color: white;
}

.btn-group {
    width: 20rem;
    margin: 20px 0;
}

.btn-primary {
    background-color: #02AABD;
    border: none;
    font-size: 3rem;
}

.btn-primary:hover, .btn-check:active+.btn-primary, .btn-check:checked+.btn-primary {
    background-color: #017F8D;
}

#weather-icon {
    color: #1B1B1E;
    font-size: 13rem;
}

@media (min-width: 992px) {
    .display-1 {
        font-size: 3rem;
    }
    
    #weather-icon {
        font-size: 5rem;
    }
    
    .display-3 {
        font-size: 1.5em;
    }

    .display-6 {
        font-size: 1rem;
    }

    .btn-group {
        width: 8rem;
        margin: 0;
    }

    .btn-primary {
        font-size: 1rem;
        margin-bottom: 10px;
    }
} 