* {
    font-family: "Lucida Console", monospace;
}

body {
    text-align: center;
    color: white;
    height: 100vh;
    background: linear-gradient(90deg,#02AABD, #00CDAC);
}

h1 {
    margin-top: 100px;
    font-weight: bold;
}

.card {
    color: black;
    width: 260px;
    height: 280px;
    border-radius: 20px;
    overflow: hidden;
    border: none;
}

.card-footer {
    background-color: #1B1B1E;
    color: #ECEBF3;
}

.btn-primary {
    background-color: #02AABD;
    border: none;
    width: 50px;
    /* margin-bottom: 10px; */
}

.btn-primary:hover {
    background-color: #017F8D;
    border: none;
}

.btn-check:active+.btn-primary, .btn-check:checked+.btn-primary{
    background-color: #017F8D;
}

.card-body i {
    color: #1B1B1E;
    font-size: 5rem;

}