body {
  font-family: "Lucida Console", monospace;
  text-align: center;
  color: white;
  height: 100vh;
  background: linear-gradient(90deg, #02AABD, #00CDAC);
}

.display-1 {
  margin: 65px 10px;
  font-weight: bold;
}

.spinner-border {
  width: 65px;
  height: 65px;
}

p {
  margin-bottom: 10px;
}

.weather-description {
  font-size: 1.5rem;
}

.card {
  display: none;
  border-radius: 20px;
  overflow: hidden;
  border: none;
}

.card-footer {
  background-color: #1B1B1E;
  color: white;
}

.btn-group {
  width: 140px;
  margin-bottom: 15px;
}

.btn-primary {
  background-color: #02AABD;
  border: none;
  font-size: 1.5rem;
}

.btn-primary:hover, .btn-check:active+.btn-primary, .btn-check:checked+.btn-primary {
  background-color: #017F8D;
}

#weather-icon {
  color: #1B1B1E;
  font-size: 5rem;
}

@media only screen and (min-width: 992px) {
  .display-1 {
    font-size: 3.5rem;
    margin-top: 100px;
  }
  .btn-group {
    margin-bottom: 10px;
  }
  .btn-primary {
    font-size: 1rem;
  }
}